@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;700&family=Cormorant+SC:wght@300;600&family=Cormorant+Upright:wght@300;400&family=DM+Serif+Text&family=Delius+Swash+Caps&family=Fredericka+the+Great&family=Gabriela&family=Galada&family=Grand+Hotel&family=Gruppo&family=Mrs+Saint+Delafield&family=Playfair+Display:ital,wght@0,400;0,900;1,400&family=Sail&family=Sofia&family=Suranna&family=Yellowtail&display=swap');


:root {
    --main-bg-color: #5c0f0f;
    --main-bg-color2: #1F2833;
    --main-txt-color: #ffffff;
    --main-txt-color2: #be8631;
    --main-txt-color3: #236cb6;
}


*, body{
    
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    border: 0;
    font-family: 'Cormorant Infant', serif;
}
body {

    /* overflow-y: hidden; */
}
h1, h2, h3, h4, h5, h6, p {

    /* font-family: 'Cormorant Infant', serif; */

    /* font-family: 'Cormorant SC', serif;

    
     */

    /* font-family: 'Gabriela', serif; */

    font-family: 'Galada', cursive;

    /* font-family: 'Grand Hotel', cursive; */

    /* font-family: 'Gruppo', cursive; */

    /* font-family: 'Mrs Saint Delafield', cursive; */

    
    
    /* font-family: 'Sofia', cursive; */
/*  */
    

    /* font-family: 'Yellowtail', cursive; */
}

.header {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    border-bottom: rgb(182, 92, 41) 3px solid;
}


.activeExercise {
    background-color: var(--main-bg-color);
    /* border: 3px solid rgb(255, 255, 255); */
    width: 360px;
    height: 203px;
    margin: 0 auto;
    margin-top: .51em;
    margin-bottom: .51em;
    /* background-image: url("./img/gif/1.gif"); */

    border-radius: .3em;
}

.form {
    background-color: var(--main-txt-color2);
    display: block;
    padding: 0.5em;
}


.exercisesButtonWrapper, .difficultyButtonWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: brown 2px dashed;
    margin: .5em;
    padding: .2em;
}
.exercisesButton {
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 1;
}

.exercisesButton:hover {
    cursor: pointer;
    background-color: var(--main-txt-color1);
}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
    padding: .3em .71em;
	display: inline-block;
	margin: .3em .15em;
	text-transform: uppercase;
    letter-spacing: .03em;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 2 */
.btn-2 {
    background: #d89e9e;
	color: rgb(255, 255, 255);
	box-shadow: 0 4px #d38989;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}



.btn-2-pressed {
    /* background: #cb4e4e; */
    background: #aa5050;
    color: #fff;
	box-shadow: 0px 4px #3d0b0b;
	-webkit-transition: none;
	-moz-transition: none;
    transition: none;
}


/* Button 2c */
.btn-2c {
	border-radius: 5px;
}

.btn:hover {
    background: #881f1f;
	box-shadow: 0px 4px #4e1212;
	/* top: 2px; */
}

.btn-2c:active {
    box-shadow: 0 0 #4b1414;
    top: 2px;
}

.btn-all-buttons {
    display: flex;
}

.btn-all {
    background: #ffa136;
	color: rgb(255, 255, 255);
	box-shadow: 0 4px #a707bd2f;
	-webkit-transition: none;
	-moz-transition: none;
    transition: none;
    border-radius: 5px;

    border: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
    padding: .3em .71em;
	display: inline-block;
	margin: .3em .15em;
	text-transform: uppercase;
    letter-spacing: .03em;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: none;
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 1;
}

.btn-all:hover {
    background: #e29a9a;
	box-shadow: 0px 4px #4e1212;
	/* top: 2px; */
}
.exercisesButtonWrapper {
    border: brown 2px dashed;
    margin: .5em;
    padding: .2em;
}
.sectionTitle {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 166, 0);
    align-items: center;
    /* margin-top: .61em; */
    padding: .31em;
}

.small-icon{
    width: 2em;
    height: 2em;
    margin-right: .41em;
}

.play, .stop {
    background-color: #f5aaaa;
    width: 70px;
    height: 70px;
    border: rgb(255, 255, 255) 3px solid;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .51s all;
}

.playUrl {
    background-image: url("./img/go.svg");
}

.stopUrl {
    background-image: url("./img/stop.svg");
}
.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}
.controls {
    /* background-color: #ffa136; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.controls > * {

    margin-left: 2em;
    margin-right: 2em;
}
.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play:hover, .stop:hover{
    border: rgb(252, 61, 61) 3px solid;
    transform: rotate(360deg) scale(1.2);
}
.play:active,.stop:active{
    transform: translateY(4px);
}
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 2024px)  {
    .wrapper {
        background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            /* justify-content: space-between; */
        }  

    .main{
        order: 3;
        flex-basis: 23.3%;
        /* flex-grow: 3; */
        /* opacity: 0; */
        /* display:none */
    }

    .header{
        order: 2;
        flex-basis: 100%;
    }

    .mainDisplay {
        order: 5;
        flex-grow: 3;
    }
    .activeExercise {
        width: 720px;
        height: 406px;
        background-size: cover;
    }
}

